.login-page {
  width: 60vh;
}

label {
  display: block;
  font-weight: 600;
  height: 30px;
  margin: 20px 30px;
}


input, textarea {
  background-color: #e1e5e6;
  border-radius: 5px;
  border-style: hidden;
  color: black;
  height: 25px;
  margin: 3px 4px;
  outline: transparent;
  width: 300px;
}

label input {
  display: block;
}

textarea {
  height: 90px;
  resize: none;
}

.login-description-input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 90px;
  margin-bottom: 0;
}

.login-image-input {
  display: none;
}

.upload-image-button {
  align-self: center;
  background-color: #6adaa2;
  border-radius: 3px;
  color: rgb(36, 35, 35);
  cursor: pointer;
  font-size: smaller;
  font-weight: 100;
  height: 15px;
  margin: 3px 5px 0;
  padding: 5px;
  width: 130px;
}

.fa-headphones {
  height: 50px;
}
